cnc/fag
cnc/demo_server.log
cnc/__pycache__/
cnc/__pycache__/*
cnc/.vscode/
cnc/.vscode/*
ips.txt
scan.txt
1ips.txt
1scan.txt
2ips.txt
2scan.txt
vips.txt
vscan.txt
terramaster_group.txt
keksd/desktop.txt
queries.txt
aips.txt
idkips.txt
zips.txt
keksd/Core/Core.rar
keksd/Core/exploits/__pycache__/ngr8500.cpython-36.pyc
